USE [MCTS]
GO
/****** Object:  Table [dbo].[ANSWERS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[JammingLevel] [float] NULL,
	[IdQuestion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATES]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAM_CODES]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM_CODES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[IdExam] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAMS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[CreateAt] [nvarchar](50) NULL,
	[CreateBy] [int] NULL,
	[ApproveBy] [int] NULL,
	[TimeLimit] [nvarchar](50) NULL,
	[Reliability] [float] NULL,
	[LevelOfDificult] [float] NULL,
	[ExamDate] [nvarchar](100) NULL,
	[StartTime] [nvarchar](50) NULL,
	[EndTime] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP_TYPE_QUESTIONS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_TYPE_QUESTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[IdTypeQuestion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[AudioName] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IdGroup] [int] NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IdPermissionGroup] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission_Detail]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IdPermission] [int] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissionGroup]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](1) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTION_OF_EXAMS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_OF_EXAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdExam] [int] NULL,
	[IdQuestion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[LevelOfDificult] [float] NULL,
	[Distinctiveness] [float] NULL,
	[Images] [nvarchar](max) NULL,
	[IdPart] [int] NULL,
	[IdGroupTypeQuestions] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TotalScore] [int] NULL,
	[IdExamCode] [int] NULL,
	[IdCandidate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles_Detail]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdRoles] [int] NULL,
	[IdPermissionDetail] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_QUESTIONS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_QUESTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Role_Detail]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdRoles] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Passwords] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS_Permission_Detail]    Script Date: 5/10/2020 1:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_Permission_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdPermissionDetail] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD FOREIGN KEY([IdQuestion])
REFERENCES [dbo].[QUESTIONS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXAM_CODES]  WITH CHECK ADD FOREIGN KEY([IdExam])
REFERENCES [dbo].[EXAMS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXAMS]  WITH CHECK ADD FOREIGN KEY([ApproveBy])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[EXAMS]  WITH CHECK ADD FOREIGN KEY([CreateBy])
REFERENCES [dbo].[USERS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_TYPE_QUESTIONS]  WITH CHECK ADD FOREIGN KEY([IdTypeQuestion])
REFERENCES [dbo].[TYPE_QUESTIONS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD FOREIGN KEY([IdGroup])
REFERENCES [dbo].[GROUPS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD FOREIGN KEY([IdPermissionGroup])
REFERENCES [dbo].[PermissionGroup] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permission_Detail]  WITH CHECK ADD FOREIGN KEY([IdPermission])
REFERENCES [dbo].[Permission] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUESTION_OF_EXAMS]  WITH CHECK ADD FOREIGN KEY([IdExam])
REFERENCES [dbo].[EXAMS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUESTION_OF_EXAMS]  WITH CHECK ADD FOREIGN KEY([IdQuestion])
REFERENCES [dbo].[QUESTIONS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD FOREIGN KEY([IdGroupTypeQuestions])
REFERENCES [dbo].[GROUP_TYPE_QUESTIONS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD FOREIGN KEY([IdPart])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[CANDIDATES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([IdExamCode])
REFERENCES [dbo].[EXAM_CODES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles_Detail]  WITH CHECK ADD FOREIGN KEY([IdPermissionDetail])
REFERENCES [dbo].[Permission_Detail] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles_Detail]  WITH CHECK ADD FOREIGN KEY([IdRoles])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Role_Detail]  WITH CHECK ADD FOREIGN KEY([IdRoles])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Role_Detail]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[USERS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USERS_Permission_Detail]  WITH CHECK ADD FOREIGN KEY([IdPermissionDetail])
REFERENCES [dbo].[Permission_Detail] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USERS_Permission_Detail]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[USERS] ([Id])
ON DELETE CASCADE
GO
